
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

/* Styles for Task Details */
.task-details {
  background-color: rgb(241, 195, 173);
  border-radius: 2rem;
  margin: 4rem auto;
  padding: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.task-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.task-details h4 {
  margin: 0 0 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.task-details p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
}


